.form {
  .form__input {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
  }

  .form__button {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }
}
